{
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-tailwindcss",
    "@prettier/plugin-oxc"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": "**/*.{js,mjs}",
      "options": {
        "parser": "oxc"
      }
    },
    {
      "files": "**/*.{ts}",
      "options": {
        "parser": "oxc-ts"
      }
    }
  ]
}
