@font-face {
  font-family: "N27";
  src:
    url("/public/fonts/n27/n27-light.woff") format("woff"),
    url("/public/fonts/n27/n27-light.woff2") format("woff2"),
    url("/public/fonts/n27/n27-light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "N27";
  src:
    url("/public/fonts/n27/n27-regular.woff") format("woff"),
    url("/public/fonts/n27/n27-regular.woff2") format("woff2"),
    url("/public/fonts/n27/n27-regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "N27";
  src:
    url("/public/fonts/n27/n27-medium.woff") format("woff"),
    url("/public/fonts/n27/n27-medium.woff2") format("woff2"),
    url("/public/fonts/n27/n27-medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "N27";
  src:
    url("/public/fonts/n27/n27-bold.woff") format("woff"),
    url("/public/fonts/n27/n27-bold.woff2") format("woff2"),
    url("/public/fonts/n27/n27-bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "N27";
  src:
    url("/public/fonts/n27/n27-lightitalic.woff") format("woff"),
    url("/public/fonts/n27/n27-lightitalic.woff2") format("woff2"),
    url("/public/fonts/n27/n27-lightitalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "N27";
  src:
    url("/public/fonts/n27/n27-regularitalic.woff") format("woff"),
    url("/public/fonts/n27/n27-regularitalic.woff2") format("woff2"),
    url("/public/fonts/n27/n27-regularitalic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "N27";
  src:
    url("/public/fonts/n27/n27-mediumitalic.woff") format("woff"),
    url("/public/fonts/n27/n27-mediumitalic.woff2") format("woff2"),
    url("/public/fonts/n27/n27-mediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "N27";
  src:
    url("/public/fonts/n27/n27-bolditalic.woff") format("woff"),
    url("/public/fonts/n27/n27-bolditalic.woff2") format("woff2"),
    url("/public/fonts/n27/n27-bolditalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Geist";
  src:
    url("/public/fonts/geist/VF.ttf") format("truetype"),
    url("/public/fonts/geist/VF.woff2") format("woff2"),
    url("/public/fonts/geist/VF.woff") format("woff");
  font-weight: 100 900;
  font-stretch: 50% 200%;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Monaspace Neon";
  src:
    url("/public/fonts/monaspace/NeonVF.ttf") format("truetype"),
    url("/public/fonts/monaspace/NeonVF.woff2") format("woff2"),
    url("/public/fonts/monaspace/NeonVF.woff") format("woff");
  font-weight: 100 900;
  font-stretch: 50% 200%;
  font-display: swap;
  font-style: normal;
}

html,
body {
  font-family: "N27", sans-serif;
}

p {
  font-family: "N27", sans-serif;
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-family: "Geist", sans-serif;
}

time {
  font-family: "Monaspace Neon", sans-serif;
}
